
/* Following Block is used for THEMING the system */
  :root {
    --navy-blue: #08181d;
    --black: #000;
    --white: #ffffff;
    --box-shadow-color:#27272780;
    --menu-toggle-color:#27272780;
    --single-result:#d8d8d8;
    --single-subheading:#d8d8d8;
    --movie-heading:#08181d;
    --movie-genre:#08181d;
    --button-color:#2828cd;
    --tag-color-top:#1a8cc1;
    --random-grey:#858585;
    --theme-color:#cd2828;
  }

  .darkMode{
    --navy-blue: #f7e7e2;
    --black: #fff;
    --white: #000;
    --box-shadow-color:#d8d87f80;
    --menu-toggle-color:#d8d87f80;
    --single-result:#272727;
    --single-subheading:#272727;
    --movie-heading:#f7e7e2;
    --movie-genre:#f7e7e2;
    --button-color:#d7d732;
    --tag-color-top:#e5733e;
    --random-grey:#7a7a7a;
    --theme-color:#32d7d7;
  }

/* Setting Default Style for input Element */
input{
    background-color: var(--white);
    color: var(--black);;
}
input::placeholder{
    color: var(--random-grey);
}

/* Setting Default Style for body Element and Default Font Family */

body{
    margin: 0px;
    font-family: sans-serif !important;
}

/* Starting CSS for Header Block */


.header{
    padding: 20px;
    background-color: var(--navy-blue);
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 5px 5px var(--box-shadow-color);
}

.header img{
    width: 150px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
    object-fit: contain;
}

.header .header-text{
    font-size: 15px;
    color: var(--white);
}

.header .menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .menu-items .menu-item-text{
    padding: 10px;
    cursor: pointer;
    margin: 0px 10px;
}
.header .menu-items .menu-item-text:hover{
    background-color: var(--black);
    border-radius: 10px;
}

.header .menu-items .menu-item-text span{
    font-size: 17px;
    color:  var(--white);
}


/* Starting CSS for Hamburger Menu for Tablet and Mobiles */


.menuToggle {
	display: none;
	position: absolute;
	top: 35px;
	right: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

.menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

.menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
    background: var(--white);
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menuToggle span:first-child {
	transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

.menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: var(--menu-toggle-color);
}

.menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

.menu {
	position: fixed;
	width: 300px;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
    background: var(--white);
    box-shadow: -4px 0px 13px 0px var(--box-shadow-color);
    height: 100vh;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu a{
    text-decoration-line: none;
}
.menu li {
    padding: 10px 0;
    cursor: pointer;
    color: var(--black);;
	font-size: 17px;
}

.menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

/* Starting CSS for Landscape Warning for Mobile Mobiles */

.warning-to-rotate{
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-color: cornflowerblue;
        color: var(--white);
        font-size: 20px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
}

/* Added Media Query to Handle Based on device size */

@media (min-width:320px) and (orientation:landscape)  {
    .warning-to-rotate{
        display: flex;
    }
}



.control-warning{
    display: none !important;
}

/* Overriding Slick CSS to override default Outline once element is focused */

.slick-active:focus{
      outline: none !important;
}


/* Starting Styling for Search Box Element */

.search-bar-box{
    background-image: url('./images/top_banner.png');
    background-size: cover;
    min-height: 250px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
}

.search-results{
    position: absolute;
    display: none;
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    background-color: var(--white);
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999;
    margin: auto;
    box-shadow:  -1px 2px 3px var(--box-shadow-color);
    border-radius: 15px;
    padding: 15px 0px;
}

.single-result{
    border-bottom: solid 1px var(--single-result);
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-result img{
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
    margin-right: 10px;
}

.single-result:hover{
    background-color: var(--single-result);
}

.single-result-heading{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.single-result-subheading{
    font-size: 11px;
    font-weight: 200;
    margin-top: 5px;
    margin-left: 5px;
    color: var(--single-subheading);
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-box{
    padding: 10px 30px;
    position: relative;
    border-radius:50px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 700px;
}

.search-box img{
    width: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.search-box input{
    border: none;
    width: 100%;
    
}

.search-box input::placeholder{
   font-size: 14px;
   overflow: visible !important;
}

.search-box input:focus{
    outline: none;
 }


 /* Starting Styling for Main Dashboard */

.big-container{
     display:flex;
     justify-content: center;
     padding: 40px 20px;
     background-color: var(--white);
 }

 /* Handing for Tablets */

@media (max-width: 990px) {
    .big-container{
        padding: 20px 0px;
    }
 }


 .movie-container{
     max-width: 1200px;
     width: 72.5%;
 }

 /* Handing for SD Laptops */

@media (max-width: 1024px) {
    .movie-container{
        width: 80%;
    }  
}


 /* Handing for Tablets */


 @media (max-width: 990px) {
    .movie-container{
        width: 80%;
    }  
    .menuToggle{
        display: block;
    }
    .menu-item-text{
        display: none;
    }
}

@media (max-width: 600px) {
    .movie-container{
        width: 90%;
    }  
}

 /* Starting CSS for Individual Movie Element */


 .category-label{
     font-size: 22px;
     font-weight: 600;
     color: var(--black);
 }

 .movie-item-poster{
     position: relative;
     width: 90%;
     overflow: hidden;
     margin-bottom: 10px;
 }
 .movie-item-poster img{
     width: 100%;
     border-radius: 10px;
 }

 .movie-slider{
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
 }

 .movie-slider-wrapper{
     display: flex;
     margin:20px 0px;
     flex-direction: column;
 }

 .movie-heading{
     color:  var(--movie-heading);
     font-size: 14px;
     width: 80%;
     font-weight: 400;  
 }


 .movie-genre{
    color:  var(--movie-genre);;
    margin-top: 2px;
    font-size: 10px;
    width: 80%;
    font-weight: 200;  
}
/* @media (max-width:1024px) {
    .movie-heading{
        font-size: 23px;
    }  
    .movie-genre{
        font-size: 17px;
    }
} */


.movie-single-item{
    display: flex !important;
    align-items: center;
    flex-direction: column;
    overflow:visible;
    cursor: pointer;
    outline: none !important;
}

 /* Sliding Overlay Over Movie Poster */


.overlay-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:  linear-gradient(rgba(0,0,0, 0.3) 0%,rgba(0,0,0, 0.8) 40%,rgba(0,0,0, 1) 100%);
    overflow: hidden;
    color:var(--white);
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .overlay-info span{
    padding: 0px 5px;
    display: flex;
    margin: 0px;
    font-size: 12px;
  }

  .movie-single-item:hover .overlay-info  {
    height: 30%;
  }

  .row-containers{
      display: flex;
      flex-direction: row;
  }

  .column-containers{
      display: flex;
      flex-direction: column;
  }

   /* CTA button CSS */

  .big-red-button{
      padding: 10px;
      color: var(--white);
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--button-color);
      text-transform: uppercase;
      font-size: 18;
      font-weight: 800;
  }

  .big-red-button img{
      width: 25;
      height: 25;
      margin-right: 10;
  }