/* Following Code Explains Order Container Element */

.order-feilds{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.category-label{
    margin: 10px;
}


/* Following Code Explains Estimation Container Element */

.estimation-block{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 30px;
}

.order-feilds input{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    font-size: 14px;
    border-radius: 20px;
    border:solid 1px #000;
}