/* Following Block is used for THEMING the system */

:root {
    --navy-blue: #08181d;
    --black: #000;
    --white: #ffffff;
    --box-shadow-color:#27272780;
    --menu-toggle-color:#27272780;
    --single-result:#d8d8d8;
    --single-subheading:#d8d8d8;
    --movie-heading:#08181d;
    --movie-genre:#08181d;
    --button-color:#2828cd;
    --tag-color-top:#1a8cc1;
    --random-grey:#858585;
    --theme-color:#cd2828;

  }

  .darkMode{
    --navy-blue: #f7e7e2;
    --black: #fff;
    --white: #000;
    --box-shadow-color:#d8d87f80;
    --menu-toggle-color:#d8d87f80;
    --single-result:#272727;
    --single-subheading:#272727;
    --movie-heading:#f7e7e2;
    --movie-genre:#f7e7e2;
    --button-color:#d7d732;
    --tag-color-top:#e5733e;
    --random-grey:#7a7a7a;
    --theme-color:#32d7d7;
  }


/* Starting CSS for Movie Information Data */

.movie-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.movie-info .movie-title{
    font-size: 24px;
    margin-bottom: 5px;
    color:var(--white);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;

}

.movie-info .movie-subtitle{
    font-size: 14px;
    width: 55%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    color: var(--white);
}

/* Starting CSS for Movie High Level Information Block */


.movie-bkg{
    background-image: url('https://i.imgur.com/wKRYMJP.jpg');
    align-items: center;
}

.movie-info .tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.movie-info .tags .tag{
    padding: 5px 20px;
    margin: 5px 5px;
    font-size: 11px;
    font-weight: 300;
    border-radius: 40px;
    color: var(--theme-color);
}

/* Hacky class to handle Blue Background Issue on Skeleton Loader */

.add-blue-background{
    background-color:var(--white) ;
    border:solid 2px var(--theme-color)
}

/* Movie Overview Block Starting Here */

.movie-extra-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin-top: 30px;
}

.movie-extra-info .extra-details-movie{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    margin: 0px 10px;
    font-weight: 300;
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.movie-extra-info .extra-details-movie img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/* Movie Detail Block Starting Here */

.detail-movie-container{
    display: flex;
    flex:3;
    padding-right: 30px;
    padding-bottom: 20px;
}

/* Movie CAST BLOCK Starting Here */

.cast-container{
    display: flex;
    flex:2;
}

.desc-movie{
    font-size: 13px;
    color: var(--black);
}
.detail-movie-container .tag-container{
    display: flex;
    flex-direction: row;
     margin: 20px 0px;
     
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.detail-movie-container .tag{
    padding: 5px 20px;
    margin: 5px 0px;
    margin-right: 10px;

    background-color:var(--black);
    font-size: 11px;
    font-weight: 300;
    border-radius: 40px;
    color: var(--white);
}

.detail-movie-container .information{
    font-size: 12px;
    font-weight: 300;
    color: var(--black);;
    padding-right: 10px;
    
}

.search-box-moviedetails{
    padding: 7.5px 20px;
    border-radius:50px;
    margin-bottom: 10px;
    background-color: var(--white);
    display: flex;
    border:solid 1px var(--random-grey);
    align-items: center;
    width: 90%;
    max-width: 700px;
}


.cast-actor-container{
    padding: 10px 0px;
    width: 100%;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-y: scroll;
    justify-content: space-between;
}

/* CAST actor block handling for Tablet Devices */

@media (max-width: 990px) {
    .cast-actor-container{
        flex-wrap: nowrap;
    }
   
}
.case-info{
    margin-right: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
@media (max-width: 990px) {
    .case-info{
        overflow:visible;
    }
}

.case-info span{
    font-size: 12px;
    color: var(--random-grey);;
    max-width: 80px;
    text-align: center;
    text-transform: capitalize;
}

.case-info img{
    width: 80px;
    object-fit: cover;
    margin-bottom: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 80px;
}


/* Preview Container for Movie Trailor */


.preview-container{
    background-color: black;
    max-width: 1200px;
    width: 72.5%;
}

@media (max-width: 1000px) {
    .preview-container{
        width: 80%;
    }  
}

@media (max-width: 990px) {
    .preview-container{
        width: 80%;
    }  
}

@media (max-width: 600px) {
    .preview-container{
        width: 90%;
    }  
}

/* Following Code Explains Video Container Element for Movie Preview  */

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-slider{
    background-color: var(--white);
}

.gallery-slider img{
    width: 350;
    height: 200;
    object-fit: cover;
    margin-right: 10px;
}

.rating{
    display: flex;
    flex-direction: row;
}

.rating img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.review-heading{
    font-size: 15px;
    font-weight: 600;
}

.review-subtitle{
    font-size: 15px;
    font-weight: 600;
}

.movie-row-containers{
    display: flex;
    flex-direction: row;

}

@media (max-width: 990px) {
    .movie-row-containers{
        display: flex;
        flex-direction: column;
    }  
    .search-box-moviedetails{
        display: none;
    }  
    .detail-movie-container{
        padding-right: 0px;
    }
}